apply-groups CG_SLT_OAM-CP-FILTER;
groups {
    CG_SLT_OAM-CP-FILTER {
        interfaces {
            lo0 {
                unit <*> {
                    family inet {
                        filter {
                            input-list [ MGMT_RESTRICT_V4 MGMT_DISCARD_V4 ACCEPT_ALL_V4 ];
                        }
                    }
                }
            }
        }
        firewall {
            family inet {
                filter MGMT_RESTRICT_V4 {
                    term ACCEPT_SSH_V4 {
                        from {
                            source-prefix-list {
                                MGMT_NETS_V4;
                            }
                            protocol tcp;
                            destination-port ssh;
                        }
                        then {
                            count ACCEPT_SSH_V4;
                            accept;
                        }
                    }
                }
                filter MGMT_DISCARD_V4 {
                    term DISCARD_SSH_V4 {
                        from {
                            protocol tcp;
                            destination-port ssh;
                        }
                        then {
                            count DISCARD_SSH_V4;
                            discard;
                        }
                    }
                }
                filter ACCEPT_ALL_V4 {
                    term ACCEPT_ALL_V4 {
                        then {
                            accept;
                        }
                    }
                }
            }
        }
        policy-options {
            prefix-list MGMT_NETS_V4 {
             {%- for pfx in mgmt_nets %}
                {{ pfx }};
             {%- endfor %}
            }
        }
    }
}
